In [1]:
import pandas

In [2]:
fatalities = pandas.Series(index=['Australia', 'Albania',
                                  "Burkino Faso",'Libya', 'Monaco'], 
                           data=[5.4, 15.1, 30, 73.4, "-"]
                          )

In [3]:
fatalities

Australia        5.4
Albania         15.1
Burkino Faso      30
Libya           73.4
Monaco             -
dtype: object

In [4]:
fatalities == "-"

Australia       False
Albania         False
Burkino Faso    False
Libya           False
Monaco           True
dtype: bool

In [5]:
data_invalid = fatalities == "-"
fatalities[data_invalid]

Monaco    -
dtype: object

In [6]:
fatalities[data_invalid] = 0

In [7]:
fatalities

Australia        5.4
Albania         15.1
Burkino Faso      30
Libya           73.4
Monaco             0
dtype: object

In [8]:
fatalities.dtype

dtype('O')

In [9]:
fatalities.astype(float)

Australia        5.4
Albania         15.1
Burkino Faso    30.0
Libya           73.4
Monaco           0.0
dtype: float64

In [10]:
fatalities.astype(int)

Australia        5
Albania         15
Burkino Faso    30
Libya           73
Monaco           0
dtype: int64

In [11]:
fatalities2 = fatalities.astype(int)
fatalities2

Australia        5
Albania         15
Burkino Faso    30
Libya           73
Monaco           0
dtype: int64

In [12]:
fatalities3 = fatalities[fatalities > 0]

In [ ]:
fatalities = fatalities.replace("-", 0)

In [ ]:
fatalities.min()

In [ ]:
fatalities.idxmin()

In [ ]:
fatalities.idxmax()

In [ ]:
fatalities.mean(), fatalities.median(), fatalities.std()

In [13]:
population = pandas.Series(index=['Australia', 'Burkino Faso', 'Libya'],
                          data=[24000000, 19000000, 6300000]
                          )

In [14]:
population

Australia       24000000
Burkino Faso    19000000
Libya            6300000
dtype: int64

In [15]:
population * fatalities / 100000

Albania            NaN
Australia         1296
Burkino Faso      5700
Libya           4624.2
Monaco             NaN
dtype: object

In [16]:
fatality_count = (population * fatalities / 100000).astype(float)
fatality_count

Albania            NaN
Australia       1296.0
Burkino Faso    5700.0
Libya           4624.2
Monaco             NaN
dtype: float64

In [17]:
fatality_count.isnull()

Albania          True
Australia       False
Burkino Faso    False
Libya           False
Monaco           True
dtype: bool

In [18]:
fatality_count[fatality_count.notnull()]

Australia       1296.0
Burkino Faso    5700.0
Libya           4624.2
dtype: float64

In [44]:
sydtrains = pandas.read_csv('data/sydtrains.csv', 
                            index_col=1,
                            thousands=","
                           )
sydtrains

,LINE,YEAR,SURVEY_DATE_USED,WHETHER_SURVEYED,IN_0200_0600,OUT_0200_0600,IN_0600_0930,OUT_0600_0930,IN_0930_1500,OUT_0930_1500,IN_1500_1830,OUT_1500_1830,IN_1830_0200,OUT_1830_0200,IN_24_HOURS,OUT_24_HOURS,RANK,STATION_SORT_ID
STATION,,,,,,,,,,,,,,,,,,
Central,CBD,2014,6/05/2014,Yes,940,920,10390,42070,21400,30150,45370,16270,19010,7700,97110,97110,1,101
Town Hall,CBD,2014,7/05/2014,Yes,880,880,6380,43210,16930,23550,43670,15270,21760,6720,89620,89620,2,102
Wynyard,CBD,2014,20/05/2014,Yes,590,570,4710,39620,9200,11180,35010,6510,10690,2330,60200,60200,3,103
Parramatta,Western,2014,19/11/2014,Yes,660,330,7790,13700,7400,7020,14960,8660,4150,5260,34960,34960,4,905
North Sydney,North Shore,2014,19/08/2014,Yes,270,270,2340,18340,4450,5590,17760,3050,3790,1360,28610,28610,5,1402
Redfern,CBD,2014,1/05/2014,Yes,250,250,3910,10690,5350,8170,12510,4250,3660,2320,25680,25680,6,108
Chatswood,North Shore,2014,19/08/2014,Yes,210,200,5030,8200,4710,4930,9430,6000,2820,2860,22200,22200,7,1407
Bondi Junction,Eastern Suburbs,2014,2/09/2014,Yes,210,210,10150,4350,4370,4600,5240,8330,1910,4380,21880,21880,8,203
Strathfield,Inner West,2014,9/09/2014,Yes,190,190,7900,4050,4980,3950,5540,7230,2100,5280,20710,20710,9,1110
Circular Quay,CBD,2014,22/05/2014,Yes,200,200,2110,8750,4340,6710,9910,3380,4070,1600,20630,20630,10,104
Martin Place,CBD,2014,27/05/2014,Yes,200,190,590,14250,2900,3420,12340,1790,4600,970,20630,20630,10,107
Hurstville,Illawarra,2014,28/05/2014,Yes,160,160,7790,2200,5230,4180,3840,7450,1270,4290,18290,18290,12,310
St Leonards,North Shore,2014,27/05/2014,Yes,170,170,3420,8900,3090,3310,8780,3230,2130,1990,17590,17590,13,1405
Blacktown,Western,2014,14/10/2014,Yes,190,210,6460,3370,4270,3450,4600,7090,1040,2450,16560,16560,14,911
Burwood,Inner West,2014,9/09/2014,Yes,140,140,4850,2930,4470,3670,4020,5060,1510,3190,14990,14990,15,1109
Kings Cross,Eastern Suburbs,2014,3/09/2013,No,120,120,3690,3820,3110,2670,4400,3640,1550,2620,12870,12870,16,201
Hornsby,North Shore,2014,14/05/2014,Yes,210,100,5550,2260,3060,2390,2750,5200,680,2290,12250,12250,17,1417
Ashfield,Inner West,2014,4/09/2013,No,100,100,5090,2010,2690,2220,2500,4500,820,2370,11200,11200,18,1107
Kogarah,Illawarra,2014,19/06/2014,Yes,90,100,4000,2970,3150,2320,3210,3450,650,2260,11100,11100,19,307
Lidcombe,South,2014,5/06/2014,Yes,100,100,4570,1620,2870,2210,2550,3900,820,3080,10910,10910,20,702
Auburn,Western,2014,19/11/2014,Yes,130,60,3880,1790,3220,2900,2700,3890,960,2260,10890,10890,21,901
Museum,CBD,2014,22/05/2014,Yes,100,100,800,6290,2220,2340,5980,1230,1760,910,10860,10860,22,106
Epping,Northern via Strathfield,2014,21/05/2014,Yes,170,90,5700,1580,2130,1600,1970,4920,600,2380,10570,10570,23,1208
Macquarie University,Northern via Macquarie Park,2014,21/05/2014,Yes,100,100,1310,3220,2570,3940,4530,1970,1580,860,10090,10090,24,1303
St James,CBD,2014,27/05/2014,Yes,100,90,780,5880,1900,2160,5630,1120,1440,580,9850,9850,25,105
Rockdale,Illawarra,2014,28/05/2014,Yes,90,90,4660,780,2610,2170,1670,3770,610,2820,9640,9640,26,306
Cabramatta,South,2014,11/06/2014,Yes,150,80,3780,1070,2760,2820,1750,3760,290,1000,8730,8730,27,708
Bankstown,Bankstown,2014,13/05/2014,Yes,80,60,3010,1810,2400,2570,2840,3130,300,1050,8630,8630,28,612
Liverpool,South,2014,4/06/2014,Yes,150,80,2510,2270,2510,2260,2610,2650,570,1100,8350,8350,29,710
Sutherland,Illawarra,2014,12/06/2014,Yes,140,70,4260,1460,1920,1650,1750,3900,250,1240,8320,8320,30,316
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Newcastle,Newcastle,2004,19/06/2003,No,50,20,260,320,720,850,430,200,70,140,1530,1530,123,1917
Waratah,Hunter,2004,16/10/2001,No,0,0,100,100,150,150,120,120,40,30,410,410,193,2001
Warabrook (University),Hunter,2004,16/10/2001,No,10,10,20,250,120,200,300,70,90,20,540,540,185,2002
Sandgate,Hunter,2004,16/10/2001,No,0,0,10,10,10,10,20,20,0,0,40,40,267,2003
Hexham,Hunter,2004,16/10/2001,No,0,0,10,20,10,20,20,10,10,0,50,50,258,2004
Tarro,Hunter,2004,16/10/2001,No,0,0,20,0,0,10,0,10,0,0,20,20,278,2005
Beresfield,Hunter,2004,16/10/2001,No,0,0,180,80,140,110,70,180,10,40,400,400,195,2006
Thornton,Hunter,2004,16/10/2001,No,0,0,150,20,60,80,50,150,10,20,270,270,211,2007
Metford,Hunter,2004,16/10/2001,No,0,0,100,20,50,50,20,90,10,10,180,180,231,2008
Victoria Street,Hunter,2004,16/10/2001,No,0,0,190,50,120,120,70,180,20,50,400,400,195,2009
East Maitland,Hunter,2004,16/10/2001,No,0,0,20,50,50,40,50,20,0,10,120,120,240,2010
High Street,Hunter,2004,16/10/2001,No,0,0,30,40,40,40,30,40,10,0,110,110,248,2011
Maitland,Hunter,2004,16/10/2001,No,0,10,190,100,180,210,150,180,20,40,540,540,185,2012
Telarah,Hunter,2004,24/08/2004,Yes,0,0,110,30,60,60,50,120,20,30,240,240,218,2013
Mindaribba,Hunter,2004,24/08/2004,Yes,0,0,0,0,0,0,0,0,0,0,0,0,295,2014
Paterson,Hunter,2004,24/08/2004,Yes,0,0,10,0,0,0,0,10,0,0,10,10,283,2015
Martins Creek,Hunter,2004,24/08/2004,Yes,0,0,10,0,0,0,0,0,0,0,10,10,283,2016
Hilldale,Hunter,2004,24/08/2004,Yes,0,0,0,0,0,0,0,0,0,0,0,0,295,2017
Wallarobba,Hunter,2004,24/08/2004,Yes,0,0,0,0,0,0,0,0,0,0,0,0,295,2018
Wirragulla,Hunter,2004,24/08/2004,Yes,0,0,0,0,0,0,0,0,0,0,0,0,295,2019
Dungog,Hunter,2004,24/08/2004,Yes,0,0,20,0,10,20,10,20,0,10,40,40,267,2020
Lochinvar,Hunter,2004,24/08/2004,Yes,0,0,10,0,0,0,0,0,0,0,10,10,283,2021
Allandale,Hunter,2004,16/10/2001,No,0,0,0,0,0,0,0,0,0,0,0,0,295,2022
Greta,Hunter,2004,24/08/2004,Yes,0,0,0,0,0,0,0,0,0,0,0,0,295,2023
Branxton,Hunter,2004,24/08/2004,Yes,0,0,20,0,0,0,0,10,0,10,20,20,278,2024
Belford,Hunter,2004,24/08/2004,Yes,0,0,0,0,0,0,0,0,0,0,0,0,295,2025
Singleton,Hunter,2004,24/08/2004,Yes,0,0,30,10,0,0,10,30,10,10,50,50,258,2026
Muswellbrook,Hunter,2004,24/08/2004,Yes,0,0,10,0,30,10,0,40,10,20,50,50,258,2027
Aberdeen,Hunter,2004,24/08/2004,Yes,0,0,0,0,0,0,0,0,0,10,10,10,283,2028
Scone,Hunter,2004,24/08/2004,Yes,10,0,0,0,0,0,0,10,0,0,10,10,283,2029

In [45]:
sydtrains.IN_0200_0600

STATION
Central                   940
Town Hall                 880
Wynyard                   590
Parramatta                660
North Sydney              270
Redfern                   250
Chatswood                 210
Bondi Junction            210
Strathfield               190
Circular Quay             200
Martin Place              200
Hurstville                160
St Leonards               170
Blacktown                 190
Burwood                   140
Kings Cross               120
Hornsby                   210
Ashfield                  100
Kogarah                    90
Lidcombe                  100
Auburn                    130
Museum                    100
Epping                    170
Macquarie University      100
St James                  100
Rockdale                   90
Cabramatta                150
Bankstown                  80
Liverpool                 150
Sutherland                140
                         ...
Newcastle                  50
Waratah                     0
Warabrook (University)     10
Sandgate                    0
Hexham                      0
Tarro                       0
Beresfield                  0
Thornton                    0
Metford                     0
Victoria Street             0
East Maitland               0
High Street                 0
Maitland                    0
Telarah                     0
Mindaribba                  0
Paterson                    0
Martins Creek               0
Hilldale                    0
Wallarobba                  0
Wirragulla                  0
Dungog                      0
Lochinvar                   0
Allandale                   0
Greta                       0
Branxton                    0
Belford                     0
Singleton                   0
Muswellbrook                0
Aberdeen                    0
Scone                      10
Name: IN_0200_0600, dtype: int64

In [46]:
len(sydtrains)

3367

In [47]:
sydtrains.count()

LINE                3367
YEAR                3367
SURVEY_DATE_USED    3367
WHETHER_SURVEYED    3367
IN_0200_0600        3367
OUT_0200_0600       3367
IN_0600_0930        3367
OUT_0600_0930       3367
IN_0930_1500        3367
OUT_0930_1500       3367
IN_1500_1830        3367
OUT_1500_1830       3367
IN_1830_0200        3367
OUT_1830_0200       3367
IN_24_HOURS         3367
OUT_24_HOURS        3367
RANK                3367
STATION_SORT_ID     3367
dtype: int64

In [48]:
trains2014 = sydtrains[sydtrains.YEAR == 2014]
trains2014

,LINE,YEAR,SURVEY_DATE_USED,WHETHER_SURVEYED,IN_0200_0600,OUT_0200_0600,IN_0600_0930,OUT_0600_0930,IN_0930_1500,OUT_0930_1500,IN_1500_1830,OUT_1500_1830,IN_1830_0200,OUT_1830_0200,IN_24_HOURS,OUT_24_HOURS,RANK,STATION_SORT_ID
STATION,,,,,,,,,,,,,,,,,,
Central,CBD,2014,6/05/2014,Yes,940,920,10390,42070,21400,30150,45370,16270,19010,7700,97110,97110,1,101
Town Hall,CBD,2014,7/05/2014,Yes,880,880,6380,43210,16930,23550,43670,15270,21760,6720,89620,89620,2,102
Wynyard,CBD,2014,20/05/2014,Yes,590,570,4710,39620,9200,11180,35010,6510,10690,2330,60200,60200,3,103
Parramatta,Western,2014,19/11/2014,Yes,660,330,7790,13700,7400,7020,14960,8660,4150,5260,34960,34960,4,905
North Sydney,North Shore,2014,19/08/2014,Yes,270,270,2340,18340,4450,5590,17760,3050,3790,1360,28610,28610,5,1402
Redfern,CBD,2014,1/05/2014,Yes,250,250,3910,10690,5350,8170,12510,4250,3660,2320,25680,25680,6,108
Chatswood,North Shore,2014,19/08/2014,Yes,210,200,5030,8200,4710,4930,9430,6000,2820,2860,22200,22200,7,1407
Bondi Junction,Eastern Suburbs,2014,2/09/2014,Yes,210,210,10150,4350,4370,4600,5240,8330,1910,4380,21880,21880,8,203
Strathfield,Inner West,2014,9/09/2014,Yes,190,190,7900,4050,4980,3950,5540,7230,2100,5280,20710,20710,9,1110
Circular Quay,CBD,2014,22/05/2014,Yes,200,200,2110,8750,4340,6710,9910,3380,4070,1600,20630,20630,10,104
Martin Place,CBD,2014,27/05/2014,Yes,200,190,590,14250,2900,3420,12340,1790,4600,970,20630,20630,10,107
Hurstville,Illawarra,2014,28/05/2014,Yes,160,160,7790,2200,5230,4180,3840,7450,1270,4290,18290,18290,12,310
St Leonards,North Shore,2014,27/05/2014,Yes,170,170,3420,8900,3090,3310,8780,3230,2130,1990,17590,17590,13,1405
Blacktown,Western,2014,14/10/2014,Yes,190,210,6460,3370,4270,3450,4600,7090,1040,2450,16560,16560,14,911
Burwood,Inner West,2014,9/09/2014,Yes,140,140,4850,2930,4470,3670,4020,5060,1510,3190,14990,14990,15,1109
Kings Cross,Eastern Suburbs,2014,3/09/2013,No,120,120,3690,3820,3110,2670,4400,3640,1550,2620,12870,12870,16,201
Hornsby,North Shore,2014,14/05/2014,Yes,210,100,5550,2260,3060,2390,2750,5200,680,2290,12250,12250,17,1417
Ashfield,Inner West,2014,4/09/2013,No,100,100,5090,2010,2690,2220,2500,4500,820,2370,11200,11200,18,1107
Kogarah,Illawarra,2014,19/06/2014,Yes,90,100,4000,2970,3150,2320,3210,3450,650,2260,11100,11100,19,307
Lidcombe,South,2014,5/06/2014,Yes,100,100,4570,1620,2870,2210,2550,3900,820,3080,10910,10910,20,702
Auburn,Western,2014,19/11/2014,Yes,130,60,3880,1790,3220,2900,2700,3890,960,2260,10890,10890,21,901
Museum,CBD,2014,22/05/2014,Yes,100,100,800,6290,2220,2340,5980,1230,1760,910,10860,10860,22,106
Epping,Northern via Strathfield,2014,21/05/2014,Yes,170,90,5700,1580,2130,1600,1970,4920,600,2380,10570,10570,23,1208
Macquarie University,Northern via Macquarie Park,2014,21/05/2014,Yes,100,100,1310,3220,2570,3940,4530,1970,1580,860,10090,10090,24,1303
St James,CBD,2014,27/05/2014,Yes,100,90,780,5880,1900,2160,5630,1120,1440,580,9850,9850,25,105
Rockdale,Illawarra,2014,28/05/2014,Yes,90,90,4660,780,2610,2170,1670,3770,610,2820,9640,9640,26,306
Cabramatta,South,2014,11/06/2014,Yes,150,80,3780,1070,2760,2820,1750,3760,290,1000,8730,8730,27,708
Bankstown,Bankstown,2014,13/05/2014,Yes,80,60,3010,1810,2400,2570,2840,3130,300,1050,8630,8630,28,612
Liverpool,South,2014,4/06/2014,Yes,150,80,2510,2270,2510,2260,2610,2650,570,1100,8350,8350,29,710
Sutherland,Illawarra,2014,12/06/2014,Yes,140,70,4260,1460,1920,1650,1750,3900,250,1240,8320,8320,30,316
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Menangle Park,Southern Highlands,2014,19/06/2014,Yes,0,0,10,0,10,10,0,10,0,0,20,20,277,1601
Port Kembla North,South Coast,2014,18/09/2014,Yes,0,0,0,10,10,0,10,10,0,0,20,20,277,1521
Scone,Hunter,2014,3/06/2009,No,10,0,0,0,0,0,0,10,10,10,20,20,277,2029
Tarro,Hunter,2014,3/06/2009,No,0,0,10,0,10,0,0,10,0,0,20,20,277,2005
Aberdeen,Hunter,2014,3/06/2009,No,0,0,0,0,0,0,0,0,0,0,10,10,283,2028
Bombo,South Coast,2014,18/09/2014,Yes,0,0,10,0,0,0,0,10,0,0,10,10,283,1530
Branxton,Hunter,2014,3/06/2009,No,0,0,0,0,0,0,0,0,0,0,10,10,283,2024
Burradoo,Southern Highlands,2014,25/05/2010,No,0,0,0,0,0,0,0,0,0,0,10,10,283,1610
Coalcliff,South Coast,2014,9/08/2012,No,0,0,10,0,0,0,0,10,0,0,10,10,283,1504
Dunmore (Shellharbour),South Coast,2014,18/06/2014,Yes,0,0,10,0,0,10,0,10,0,0,10,10,283,1528
Exeter,Southern Highlands,2014,25/05/2010,No,0,0,10,0,0,0,0,10,0,0,10,10,283,1612
Greta,Hunter,2014,3/06/2009,No,0,0,0,0,0,0,0,10,0,0,10,10,283,2023
Linden,Blue Mountains,2014,19/08/2014,Yes,0,0,10,0,0,10,0,10,0,0,10,10,283,1708
Marulan,Southern Highlands,2014,17/06/2014,Yes,0,0,0,0,0,0,0,0,10,10,10,10,283,1617
Menangle,Southern Highlands,2014,17/06/2014,Yes,0,0,10,0,0,0,0,10,0,0,10,10,283,1602
Paterson,Hunter,2014,3/06/2009,No,0,0,10,0,0,0,0,10,0,0,10,10,283,2015
Scarborough,South Coast,2014,22/08/2013,No,0,0,10,0,0,0,0,10,0,0,10,10,283,1505
Tallong,Southern Highlands,2014,25/05/2010,No,0,0,10,0,0,0,0,0,0,10,10,10,283,1616
Wondabyne,Central Coast,2014,21/11/2012,No,0,0,0,0,0,0,0,0,0,0,10,10,283,1803
Bell,Blue Mountains,2014,0,No,0,0,0,0,0,0,0,0,0,0,0,0,298,1719
Hilldale,Hunter,2014,3/06/2009,No,0,0,0,0,0,0,0,0,0,0,0,0,298,2017
Kembla Grange Racecourse,South Coast,2014,15/02/1996,No,0,0,0,0,0,0,0,0,0,0,0,0,298,1524
Lochinvar,Hunter,2014,3/06/2009,No,0,0,0,0,0,0,0,0,0,0,0,0,298,2021
Lysaghts,South Coast,2014,12/11/2013,No,0,0,0,0,0,0,0,0,0,0,0,0,298,1519
Mindaribba,Hunter,2014,3/06/2009,No,0,0,0,0,0,0,0,0,0,0,0,0,298,2014
Penrose,Southern Highlands,2014,25/05/2010,No,0,0,0,0,0,0,0,0,0,0,0,0,298,1614
Wallarobba,Hunter,2014,3/06/2009,No,0,0,0,0,0,0,0,0,0,0,0,0,298,2018
Wingello,Southern Highlands,2014,25/05/2010,No,0,0,0,0,0,0,0,0,0,0,0,0,298,1615
Wirragulla,Hunter,2014,3/06/2009,No,0,0,0,0,0,0,0,0,0,0,0,0,298,2019
Zig Zag,Blue Mountains,2014,9/10/2014,Yes,0,0,0,0,0,0,0,0,0,0,0,0,298,1720

In [49]:
sydtrains.LINE.unique()

array(['CBD', 'Western', 'North Shore', 'Eastern Suburbs', 'Inner West',
       'Illawarra', 'South', 'Northern via Strathfield',
       'Northern via Macquarie Park', 'Bankstown', 'Airport', 'East Hills',
       'Central Coast', 'Olympic Park', 'South Coast', 'Blue Mountains',
       'Newcastle', 'Hunter', 'Carlingford', 'Southern Highlands'], dtype=object)

In [50]:
sydtrains.LINE.nunique()

20

And while we are doing things that look like SQL, here's
what 

  `select * from trains where line like '%C%'`

would be

In [51]:
sydtrains[sydtrains.LINE.str.contains('C')].LINE.unique()

array(['CBD', 'Central Coast', 'South Coast', 'Carlingford'], dtype=object)

Anyway, back on topic...

In [52]:
sydtrains.index.unique()

array(['Central', 'Town Hall', 'Wynyard', 'Parramatta', 'North Sydney',
       'Redfern', 'Chatswood', 'Bondi Junction', 'Strathfield',
       'Circular Quay', 'Martin Place', 'Hurstville', 'St Leonards',
       'Blacktown', 'Burwood', 'Kings Cross', 'Hornsby', 'Ashfield',
       'Kogarah', 'Lidcombe', 'Auburn', 'Museum', 'Epping',
       'Macquarie University', 'St James', 'Rockdale', 'Cabramatta',
       'Bankstown', 'Liverpool', 'Sutherland', 'Fairfield', 'Westmead',
       'Penrith', 'Mount Druitt', 'Edgecliff', 'Mascot', 'Eastwood',
       'Milsons Point', 'Newtown', 'Campsie', 'Seven Hills', 'Rhodes',
       'Domestic Airport', 'Granville', 'West Ryde', 'Campbelltown',
       'Green Square', 'Gordon', 'Sydenham', 'Merrylands', 'Artarmon',
       'Gosford', 'Glenfield', 'Turramurra', 'Lakemba', 'St Marys',
       'Wolli Creek', 'Woy Woy', 'Mortdale', 'Revesby', 'Riverwood',
       'Olympic Park', 'Lindfield', 'Marrickville', 'Macquarie Park',
       'Caringbah', 'Ingleburn', 'Miranda', 'Penshurst', 'Petersham',
       'Summer Hill', 'Padstow', 'Wentworthville', 'Stanmore',
       'Meadowbank', 'St Peters', 'Pennant Hills', 'Holsworthy',
       'Kingswood', 'Pendle Hill', 'Pymble', 'Punchbowl', 'Waitara',
       'Flemington', 'Kingsgrove', 'Quakers Hill', 'International Airport',
       'Minto', 'Guildford', 'Jannali', 'Belmore', 'Rooty Hill',
       'Beverly Hills', 'Macarthur', 'Cronulla', 'Roseville',
       'North Strathfield', 'Waverton', 'Wollstonecraft', 'Leumeah',
       'Concord West', 'Toongabbie', 'Canley Vale', 'Thornleigh',
       'Wahroonga', 'Dulwich Hill', 'Croydon', 'Warwick Farm',
       'Wollongong', 'Doonside', 'Carlton', 'Killara', 'Gymea', 'Lewisham',
       'Berala', 'Beecroft', 'Arncliffe', 'Erskineville', 'Homebush',
       'Canterbury', 'Yagoona', 'Wiley Park', 'Oatley', 'Narwee',
       'Allawah', 'North Wollongong', 'Berowra', 'Normanhurst',
       'Emu Plains', 'Harris Park', 'Wyong', 'Katoomba', 'North Ryde',
       'Panania', 'Engadine', 'Warrawee', 'Banksia', 'Regents Park',
       'Tempe', 'Springwood', 'Cheltenham', 'Asquith', 'Kirrawee',
       'Thirroul', 'Hurlstone Park', 'Tuggerah', 'Chester Hill',
       'Woolooware', 'Macquarie Fields', 'Yennora', 'Windsor',
       'Macdonaldtown', 'Birrong', 'Civic', 'Bardwell Park', 'Werrington',
       'Morisset', 'Broadmeadow', 'Marayong', 'Newcastle',
       'Warabrook (University)', 'Bexley North', 'Riverstone', 'Cardiff',
       'Richmond', 'Hamilton', 'East Hills', 'Loftus', 'Como', 'Heathcote',
       'Schofields', 'Clyde', 'Sefton', 'Villawood', 'Blaxland',
       'Helensburgh', 'Turrella', 'Wickham', 'Carramar', 'Maitland',
       'Fassifern', 'Dapto', 'Wentworth Falls', 'Glenbrook', 'Denistone',
       'Unanderra', 'Mount Colah', 'Oak Flats', 'Waterfall',
       'East Richmond', 'Narara', 'Leura', 'Victoria Street', 'Hazelbrook',
       'Wyee', 'Bomaderry (Nowra)', 'Carlingford', 'Coniston', 'Mulgrave',
       'Ourimbah', 'Warnervale', 'Waratah', 'Telopea', 'Beresfield',
       'Albion Park', 'Casula', 'Hawkesbury River', 'Leightonfield',
       'Lithgow', 'Mount Kuring-gai', 'Bellambi', 'Bowral', 'Kiama',
       'Blackheath', 'Corrimal', 'Moss Vale', 'Picton', 'Bulli',
       'Fairy Meadow', 'Lawson', 'Rydalmere', 'Telarah', 'Thornton',
       'Woonona', 'Lisarow', 'Faulconbridge', 'Point Clare', 'Tahmoor',
       'Dundas', 'Woodford', 'Metford', 'Mittagong', 'Warrimoo',
       'Port Kembla', 'Tascott', 'Austinmer', 'Lapstone', 'Stanwell Park',
       'Adamstown', 'Niagara Park', 'Bullaburra', 'Bargo', 'Berry',
       'East Maitland', 'Towradgi', 'Vineyard', 'Koolewong', 'Rosehill',
       'Booragul', 'Clarendon', 'Goulburn', 'Valley Heights', 'Bathurst',
       'High Street', 'Mount Victoria', 'Cowan', 'Camellia', 'Dora Creek',
       'Minnamurra', 'Otford', 'Gerringong', 'Sandgate', 'Coledale',
       'Dungog', 'Hexham', 'Kotara', 'Muswellbrook', 'Teralba',
       'Douglas Park', 'Singleton', 'Awaba', 'Bundanoon', 'Cockle Creek',
       'Medlow Bath', 'Wombarra', 'Yerrinbool', 'Cringila',
       'Martins Creek', 'Menangle Park', 'Port Kembla North', 'Scone',
       'Tarro', 'Aberdeen', 'Bombo', 'Branxton', 'Burradoo', 'Coalcliff',
       'Dunmore (Shellharbour)', 'Exeter', 'Greta', 'Linden', 'Marulan',
       'Menangle', 'Paterson', 'Scarborough', 'Tallong', 'Wondabyne',
       'Bell', 'Hilldale', 'Kembla Grange Racecourse', 'Lochinvar',
       'Lysaghts', 'Mindaribba', 'Penrose', 'Wallarobba', 'Wingello',
       'Wirragulla', 'Zig Zag', 'Allandale', 'Belford'], dtype=object)

In [53]:
trains2014.IN_0930_1500.dtype

dtype('int64')

In [54]:
trains2014.dtypes

LINE                object
YEAR                 int64
SURVEY_DATE_USED    object
WHETHER_SURVEYED    object
IN_0200_0600         int64
OUT_0200_0600        int64
IN_0600_0930         int64
OUT_0600_0930        int64
IN_0930_1500         int64
OUT_0930_1500        int64
IN_1500_1830         int64
OUT_1500_1830        int64
IN_1830_0200         int64
OUT_1830_0200        int64
IN_24_HOURS          int64
OUT_24_HOURS         int64
RANK                 int64
STATION_SORT_ID      int64
dtype: object

In [55]:
trains2014.IN_24_HOURS

STATION
Central                     97110
Town Hall                   89620
Wynyard                     60200
Parramatta                  34960
North Sydney                28610
Redfern                     25680
Chatswood                   22200
Bondi Junction              21880
Strathfield                 20710
Circular Quay               20630
Martin Place                20630
Hurstville                  18290
St Leonards                 17590
Blacktown                   16560
Burwood                     14990
Kings Cross                 12870
Hornsby                     12250
Ashfield                    11200
Kogarah                     11100
Lidcombe                    10910
Auburn                      10890
Museum                      10860
Epping                      10570
Macquarie University        10090
St James                     9850
Rockdale                     9640
Cabramatta                   8730
Bankstown                    8630
Liverpool                    8350
Sutherland                   8320
                            ...
Menangle Park                  20
Port Kembla North              20
Scone                          20
Tarro                          20
Aberdeen                       10
Bombo                          10
Branxton                       10
Burradoo                       10
Coalcliff                      10
Dunmore (Shellharbour)         10
Exeter                         10
Greta                          10
Linden                         10
Marulan                        10
Menangle                       10
Paterson                       10
Scarborough                    10
Tallong                        10
Wondabyne                      10
Bell                            0
Hilldale                        0
Kembla Grange Racecourse        0
Lochinvar                       0
Lysaghts                        0
Mindaribba                      0
Penrose                         0
Wallarobba                      0
Wingello                        0
Wirragulla                      0
Zig Zag                         0
Name: IN_24_HOURS, dtype: int64

In [56]:
trains2014.IN_24_HOURS.idxmax()

'Central'

In [57]:
trains2014.OUT_24_HOURS.idxmax()

'Central'

In [58]:
trains2014.IN_24_HOURS.idxmin()

'Bell'

In [59]:
trains2014.OUT_24_HOURS.idxmin()

'Bell'

In [60]:
trains2014.IN_24_HOURS.min()

0

In [61]:
trains2014[trains2014.IN_24_HOURS == 0]

,LINE,YEAR,SURVEY_DATE_USED,WHETHER_SURVEYED,IN_0200_0600,OUT_0200_0600,IN_0600_0930,OUT_0600_0930,IN_0930_1500,OUT_0930_1500,IN_1500_1830,OUT_1500_1830,IN_1830_0200,OUT_1830_0200,IN_24_HOURS,OUT_24_HOURS,RANK,STATION_SORT_ID
STATION,,,,,,,,,,,,,,,,,,
Bell,Blue Mountains,2014,0,No,0,0,0,0,0,0,0,0,0,0,0,0,298,1719
Hilldale,Hunter,2014,3/06/2009,No,0,0,0,0,0,0,0,0,0,0,0,0,298,2017
Kembla Grange Racecourse,South Coast,2014,15/02/1996,No,0,0,0,0,0,0,0,0,0,0,0,0,298,1524
Lochinvar,Hunter,2014,3/06/2009,No,0,0,0,0,0,0,0,0,0,0,0,0,298,2021
Lysaghts,South Coast,2014,12/11/2013,No,0,0,0,0,0,0,0,0,0,0,0,0,298,1519
Mindaribba,Hunter,2014,3/06/2009,No,0,0,0,0,0,0,0,0,0,0,0,0,298,2014
Penrose,Southern Highlands,2014,25/05/2010,No,0,0,0,0,0,0,0,0,0,0,0,0,298,1614
Wallarobba,Hunter,2014,3/06/2009,No,0,0,0,0,0,0,0,0,0,0,0,0,298,2018
Wingello,Southern Highlands,2014,25/05/2010,No,0,0,0,0,0,0,0,0,0,0,0,0,298,1615
Wirragulla,Hunter,2014,3/06/2009,No,0,0,0,0,0,0,0,0,0,0,0,0,298,2019
Zig Zag,Blue Mountains,2014,9/10/2014,Yes,0,0,0,0,0,0,0,0,0,0,0,0,298,1720

In [62]:
trains2014.to_csv('2014-data.csv')

In [64]:
trains2014[ ['IN_0200_0600', 'OUT_0200_0600'] ]

                          IN_0200_0600  OUT_0200_0600
STATION
Central                            940            920
Town Hall                          880            880
Wynyard                            590            570
Parramatta                         660            330
North Sydney                       270            270
Redfern                            250            250
Chatswood                          210            200
Bondi Junction                     210            210
Strathfield                        190            190
Circular Quay                      200            200
Martin Place                       200            190
Hurstville                         160            160
St Leonards                        170            170
Blacktown                          190            210
Burwood                            140            140
Kings Cross                        120            120
Hornsby                            210            100
Ashfield                           100            100
Kogarah                             90            100
Lidcombe                           100            100
Auburn                             130             60
Museum                             100            100
Epping                             170             90
Macquarie University               100            100
St James                           100             90
Rockdale                            90             90
Cabramatta                         150             80
Bankstown                           80             60
Liverpool                          150             80
Sutherland                         140             70
...                                ...            ...
Menangle Park                        0              0
Port Kembla North                    0              0
Scone                               10              0
Tarro                                0              0
Aberdeen                             0              0
Bombo                                0              0
Branxton                             0              0
Burradoo                             0              0
Coalcliff                            0              0
Dunmore (Shellharbour)               0              0
Exeter                               0              0
Greta                                0              0
Linden                               0              0
Marulan                              0              0
Menangle                             0              0
Paterson                             0              0
Scarborough                          0              0
Tallong                              0              0
Wondabyne                            0              0
Bell                                 0              0
Hilldale                             0              0
Kembla Grange Racecourse             0              0
Lochinvar                            0              0
Lysaghts                             0              0
Mindaribba                           0              0
Penrose                              0              0
Wallarobba                           0              0
Wingello                             0              0
Wirragulla                           0              0
Zig Zag                              0              0

[308 rows x 2 columns]

In [65]:
trains2014.loc['Central']

LINE                      CBD
YEAR                     2014
SURVEY_DATE_USED    6/05/2014
WHETHER_SURVEYED          Yes
IN_0200_0600              940
OUT_0200_0600             920
IN_0600_0930            10390
OUT_0600_0930           42070
IN_0930_1500            21400
OUT_0930_1500           30150
IN_1500_1830            45370
OUT_1500_1830           16270
IN_1830_0200            19010
OUT_1830_0200            7700
IN_24_HOURS             97110
OUT_24_HOURS            97110
RANK                        1
STATION_SORT_ID           101
Name: Central, dtype: object

In [66]:
trains2014.describe()

,YEAR,IN_0200_0600,OUT_0200_0600,IN_0600_0930,OUT_0600_0930,IN_0930_1500,OUT_0930_1500,IN_1500_1830,OUT_1500_1830,IN_1830_0200,OUT_1830_0200,IN_24_HOURS,OUT_24_HOURS,RANK,STATION_SORT_ID
count,308.0,308.000000,308.000000,308.000000,308.000000,308.000000,308.000000,308.000000,308.000000,308.000000,308.000000,308.000000,308.000000,308.000000,308.000000
mean,2014.0,52.142857,33.084416,1176.266234,1130.422078,777.954545,809.545455,1226.818182,1131.785714,385.194805,513.668831,3618.538961,3618.538961,153.516234,1191.840909
std,0.0,107.324369,90.671936,1626.940742,4482.948456,1901.729550,2470.684364,4508.392060,1869.717983,1835.041549,944.926715,9291.017771,9291.017771,87.893460,577.163228
min,2014.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,101.000000
25%,2014.0,10.000000,0.000000,97.500000,20.000000,40.000000,30.000000,30.000000,87.500000,10.000000,30.000000,190.000000,190.000000,77.750000,617.750000
50%,2014.0,20.000000,10.000000,520.000000,150.000000,245.000000,195.000000,200.000000,475.000000,40.000000,175.000000,1090.000000,1090.000000,154.500000,1307.500000
75%,2014.0,50.000000,30.000000,1650.000000,602.500000,662.500000,627.500000,657.500000,1392.500000,120.000000,550.000000,3265.000000,3265.000000,231.000000,1703.250000
max,2014.0,940.000000,920.000000,10390.000000,43210.000000,21400.000000,30150.000000,45370.000000,16270.000000,21760.000000,7700.000000,97110.000000,97110.000000,298.000000,2029.000000

In [67]:
trains2014.LINE.value_counts()

South Coast                    34
Western                        29
Hunter                         27
Illawarra                      26
Blue Mountains                 22
North Shore                    21
Bankstown                      21
East Hills                     19
Southern Highlands             18
Newcastle                      17
Central Coast                  14
South                          11
Inner West                     11
Northern via Macquarie Park     8
Northern via Strathfield        8
CBD                             8
Carlingford                     6
Airport                         4
Eastern Suburbs                 3
Olympic Park                    1
Name: LINE, dtype: int64